.banner-color {
    background: black;
  }
  .logo-design {
    margin-left: 60px !important;
  }
  .listing-section {
    background: #292929;
  }
  #boot-icon {
    font-size: 3rem !important;
    color: gainsboro;
  }